@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IsoleringslandslagetClone.Models.Contact;
@{
    ViewData["Title"] = "Medarbetare";
}

<body>
    <div class="MembersDiv"><h1>MEDARBETARE</h1></div>           
    <div class="image-layout">
      <div>
        <img src="~/Picture/Medarebetare/andreas-östlund-frilagd.png" width="400" height="400"/> 
        <h5>Andreas Östlund</h5>
            <p> VD/CEO <br />
                <a class="member_link" href="tel:0200-43 85 00">0200-43 85 00</a><br />
                <a class="member_link" href="mailto:info@isoleringslandslaget.se">info@isoleringslandslaget</a>
            </p>
      </div>
      <div>
        <img src="~/Picture/Medarebetare/klas-abrahamsson-frilagd.png" width="400" height="400"/> 
        <h5>Klas Abrahamsson</h5>
            <p> Försäljning & Teknisk support:<br /> 
                Gävleborg, Dalarna, Uppland & Västernorrland <br />
                <a class="member_link" href="tel:070-813 60 69">070-813 60 69</a><br />
                <a class="member_link" href="mailto:klas@isoleringslandslaget.se">klas@isoleringslandslaget.se</a>
            </p>
      </div>
      <div>
         <img src="~/Picture/Medarebetare/marcus-huld-frilagd.png" width="400" height="400"/>
         <h5>Marcus Huld</h5>
            <p> Försäljning & Teknisk support:<br /> 
                Stockholm/Mälardalen, Uppland & Dalarna <br />
                <a class="member_link" href="070-813 60 64">070-813 60 64</a><br />
                <a class="member_link" href="mailto:marcus@isoleringslandslaget.se">marcus@isoleringslandslaget.se</a>
            </p>
      </div>
    </div>
    <div class="image-layout">
        <div>
            <img src="~/Picture/Medarebetare/peter-östlund-friställd_1.jpg" width="400" height="400"/>
            <h5>Peter Östlund</h5>
                <p> Projektledning, planering samt orderansvarig<br />
                    <a class="member_link" href="tel:070-261 42 61">070-261 42 61</a><br />
                    <a class="member_link" href="mailto:peter@isoleringslandslaget.se">peter@isoleringslandslaget.se</a>
                </p>
        </div>
    </div>         
</body>
